body {
    background-color: #36393e;
    color: #a748cc
}
#titleTable{
    font-size: 300%;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
    border: 3px solid #44113c;
}
th, td {
    border: 3px solid #9656ce;
    padding: 8px;
    text-align: center;
    background-color: #cab2fb;
    width: 30%;
}
a{
    text-decoration: none;
}
a:hover{
    color: #37ff77;
    text-decoration: none;
}
p{
    text-align: center;
    font-size: 150%;
}
@media (max-width: 768px) {
    body {
        font-size: 90%;
    }
    #titleTable {
        font-size: 200%;
    }
    table {
        width: 80%;
    }
    th, td {
        font-size: 100%;
        padding: 4px;
    }
    p {
        font-size: 120%;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 80%;
    }
    #titleTable {
        font-size: 150%;
    }
    table {
        width: 100%;
    }
    th, td {
        font-size: 100%;
        padding: 10px;
    }
    p {
        font-size: 100%;
    }
}